In [3]:
import pandas as pd
import numpy as np

In [19]:
#CRIAÇÃO DE OBJETO#
#Criando um Series, arquivo RangeIndex

In [4]:
s = pd.Series([1,2,3, np.nan,6,8])

In [6]:
s

0    1.0
1    2.0
2    3.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [8]:
#Criando um DataFrame, usando data_range()

In [9]:
dates = pd.date_range("20130101", periods=6)

In [10]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [12]:
df

                   A         B         C         D
2013-01-01  0.676393 -0.853987 -1.174632 -0.022878
2013-01-02  0.885430  0.871437  0.103934  0.282575
2013-01-03  0.364684  0.201928  1.088068 -1.282520
2013-01-04 -1.976509  0.268919 -1.267652  0.898579
2013-01-05  0.405743  0.499901  0.476362 -0.273439
2013-01-06  2.358272  0.012084 -1.040194 -1.644351

In [13]:
#Criando um DataFrame passando um dicionario de objetos

In [14]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

In [15]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [16]:
#dtypes das colunas

In [17]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [20]:
#VISUALIZANDO DADOS#
#Use DataFrame.head() "Retorna as primeiras linhas" e 
#DataFrame.tail() "Retorna as ultimas linhas" 
#para visualizar as linhas superior e inferior

In [21]:
df.head()

                   A         B         C         D
2013-01-01  0.676393 -0.853987 -1.174632 -0.022878
2013-01-02  0.885430  0.871437  0.103934  0.282575
2013-01-03  0.364684  0.201928  1.088068 -1.282520
2013-01-04 -1.976509  0.268919 -1.267652  0.898579
2013-01-05  0.405743  0.499901  0.476362 -0.273439

In [22]:
df.tail(3)

                   A         B         C         D
2013-01-04 -1.976509  0.268919 -1.267652  0.898579
2013-01-05  0.405743  0.499901  0.476362 -0.273439
2013-01-06  2.358272  0.012084 -1.040194 -1.644351